* {
  font-family: "Lexend Deca Medium";
  border: none;
}

window#waybar {
  background: transparent;
}

.modules-center {
  background-color: #191724;
  opacity: 0.9;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid #31748f;
}

#workspaces {
  margin: 2px;
}

#workspaces button {
  padding: 0 1px;
  color: #6e6a86;
}

#workspaces button.active {
  color: #ebbcba;
}

#battery {
  padding: 0 4px;
  margin-right: 4px;
  color: #9ccfd8;
}

#clock {
  padding: 0 4px;
  margin-left: 4px;
  color: #c4a7e7;
}
