* {
  font-family: "Lexend Deca Medium";
  border: none;
}

window#waybar {
  background: transparent;
}

#custom-battery_clock {
  background-color: rgba(25, 23, 36, 0.75);
  border: 1px solid rgba(156, 207, 216, 0.1);
  border-radius: 16px;
  
  padding: 4px 16px;
  margin-top: 6px;
  
  transition: all 0.3s ease;
}

#custom-battery_clock.foam {
    color: #9ccfd8;
}

#custom-battery_clock.rose {
    color: #ebbcba;
}

#custom-battery_clock.iris {
    color: #c4a7e7;
}

#custom-battery_clock.love {
    color: #eb6f92;
}
