* {
  font-family: "Lexend Deca Medium", "JetBrainsMonoNF Medium", "Noto Color Emoji";
  border: none;
}

window#waybar {
  background: transparent;
}

.modules-center {
  background-color: #191724;
  opacity: 0.9;
  min-height: 30px;
  padding: 2px;
  border-radius: 20px;
  border: 2px solid #31748f;
}

#workspaces {
  margin: 4px;
}

#workspaces button {
  padding: 0 2px;
  color: #6e6a86;
}

#workspaces button.active {
  color: #ebbcba;
}

#battery {
  padding: 0 8px;
  color: #9ccfd8;
}

#clock {
  padding: 0 8px;
  color: #c4a7e7;
}
