window {
  background-color: rgba(25, 23, 36, 0.85);
  font-family: "Lexend Deca Medium", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 3.5rem;
}

button {
  background-color: #1f1d2e;
  color: #c4a7e7;
  border: 2px solid #c4a7e7;
  border-radius: 20px;
  margin: 15px;
  transition: all 0.1s ease-in-out;
}

button:focus {
  padding: 20px;
  margin: 5px;
}
